.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding: 20px 0;
    background-color: var(--white-color);
    z-index: 10;
}
.header__inner {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__list {
    display: flex;
    align-items: center;
}
.nav__item {
    margin-right: 30px;
}
.nav__item:last-child {
    margin-right: 0;
}
.nav__link {
    font-size: 18px;
    font-weight: 500;
    color: var(--grey-color);
    transition: color .2s linear;
}
.nav__link:hover {
    color: var(--black-color);
}
.active {
    color: var(--black-color);
}
.burger {
    display: none;
    z-index: 30;
    padding: 2px;
    outline: none;
    border: none;
    background-color: transparent;
}
.burger__item {
    display: block;
    width: 28px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--black-color);
    transition: all 0.5s ease-in-out;
}
.burger--active .burger__item:nth-child(2) {
    opacity: 0;
}
.burger--active .burger__item:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.burger--active .burger__item:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
.mobile-menu {
    display: none;
    position: absolute;
    transform: translateY(-100%);
    width: 100%;
    padding-bottom: 20px;
    transition: transform .2s ease-in;
    z-index: 20;
    background-color: var(--white-color);
}
.nav-mobile {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 190px;
}
.mobile-menu--active {
    transform: translateY(0);
}
@media screen and (max-width: 600px) {
    .nav__item {
        margin-right: 20px;
    }
    .nav {
        display: none;
    }
    .burger {
        display: block;
    }
    .mobile-menu {
        display: block;
    }
}